.home{
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


.name{
    background: linear-gradient(to right, #7E76FF, #aa3256); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 76px;
    font-weight: 600;
	text-transform: uppercase;
	width: 100%;
}


.description{
    margin-top: 24px
}
.about_title{
    font-size: 28px;
    margin-bottom: var(--space-5);
    letter-spacing: 2px;
}

.about_text{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: var(--space-5);
}
.dark .about_title, .dark .about_text{
    color: var(--white);
}
.about_text > span{
    color:var(--blue);
}
.social_list{
    display: flex;
    align-items: center;
    
}
.social_item + .social_item{
    margin-left: 20px;
}
.social_link{
    display: inline-block;
    cursor: pointer;
    color:var(--dark);
    transform: scale(1);
    transition: all .3s linear;
    
}
.dark .social_link{
    color: var(--white);
}
.social_link:hover{
    transform: scale(1.1);
    color: var(--red);
}
@media screen and (max-width:600px){
    .home{
        padding: 0;
    }
    .name{
        font-size: 26px;
    }
    .about_title{
        font-size: 20px;
        margin-bottom: var(--space-3);
    }
    .about_text{
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
    }
}