.page_area{
  
    display: flex;
    align-items: center;
    padding-top: var(--headerHeight);
    min-height: calc(100% - var(--footerHeight));
    
  }
.wrapper{
  max-width: 1080px;
  margin:  0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .page_area.light{
    background-color: #f8f8f8;
    color:var(--white);
    transition: background-color .5s ease;
  }
  .page_area.dark{
    background-color: #161c24;
    color:var(--black);
    transition: background-color .5s ease;
  }
  
  .page{
    width: 100%;
   
    color: var(--dark);
    
  
  }
  
  .pages h1{
    flex: 1;
  }
  