.footer{
    height: var(--footerHeight);
   border-top: 1px solid var(--dividerLineLight);
   transition: background-color .5s ease;

}

.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.footer.dark{
    background-color: var(--lightBlack);
    border-top-color: var(--dividerLine);
    transition: background-color .5s ease;
}
.mail_link{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    color: var(--dark);
    
}
.dark .mail_link{
    color: var(--white);
    
}
@media screen and (max-width:600px){
    .mail_link{
        font-size: 14px;
    }
}