.footer{
    height: var(--footerHeight);
   

}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.footer.dark{
    background-color: var(--lightBlack);
}
.mail_link{
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    color: var(--dark);
    
}
.dark .mail_link{
    color: var(--white);
}